:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #00000089;
  
    /* Fonts */
    --font-roboto: "Roboto Condensed";
  }